<div class="navbar">
    <select #creationalDropdown (change)="navigateToPattern(creationalDropdown.value)">
        <option *ngFor="let pattern of creationalPatterns" [value]="pattern.route">{{ pattern.name }}</option>
    </select>
    <select #structuralDropdown (change)="navigateToPattern(structuralDropdown.value)">
        <option *ngFor="let pattern of structuralPatterns" [value]="pattern.route">{{ pattern.name }}</option>
    </select>
    <select #behavioralDropdown (change)="navigateToPattern(behavioralDropdown.value)">
        <option *ngFor="let pattern of behavioralPatterns" [value]="pattern.route">{{ pattern.name }}</option>
    </select>
</div>
<router-outlet></router-outlet>